// Media Queries
//
// Simplifies management of media queries in our CSS. Takes our content,
// eats a cookie and wraps it in a media query. Automagically.
// ----------------------------------------------------------------------------
@mixin mq($name) {
    // If the key exists in the map
    @if map-has-key($iz-breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($iz-breakpoints, $name))} {
            @content;
        }
    // If the key doesn't exist in the map
    } @else {
        @warn "No value could be retrieved from `#{$iz-breakpoints}`. "
        + "Please make sure it's defined in the `$iz-breakpoints` map.";
    }
}


// Clearfix
//
// Outputs a simple clearfix.
// ----------------------------------------------------------------------------
%clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}


// Hide Text
//
// Hides text effectively, avoids painting a block -9999px off-screen.
// ----------------------------------------------------------------------------
%hide-text {
    overflow: hidden;
    text-indent: 101%; // bump value if content is drawn in viewport
    white-space: nowrap;
}


// Vertical Align
//
// Vertically align any element.
// Note: use `transform-style: preserve-3d` on the container element to prevent
// blurry edges caused by half-pixels.
// ----------------------------------------------------------------------------
%vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
