// Universal defaults
// ----------------------------------------------------------------------------
:root {
    // scss-lint:disable VendorPrefix
    box-sizing: $box-sizing-base;
    font-family: $font-family-base;
    // Sets a specific default `font-size` for use with `rem` type scales.
    font-size: $font-size-root;
    // Auto hide persistent scrollbar in Edge, IE 11-
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // All browsers without overlaying scrollbars.
    overflow-y: scroll;
    // Changes the default tap highlight to be completely transparent in iOS.
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: $text-rendering-base;
    // Prevent iOS text size adjust after device orientation change
    // without disabling user zoom.
    -webkit-text-size-adjust: 100%;
}

html {
    // By default, `<html>` has no `background-color` so
    // we set one as a best practice.
    background-color: $body-bg;
    color: $body-color;
}

body {
    // Make `body` use `font-size-root`
    font-size: $font-size-base;
    hyphens: auto;
    line-height: $line-height;
    word-wrap: break-word;
}

*,
::before,
::after {
    // Inherit box-sizing from parent
    box-sizing: inherit;
}

* {
    font-size: inherit;
    line-height: inherit;
    // Remove margin and padding of all elements.
    margin: 0;
    padding: 0;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

// Text selection background color and omit drop shadow.
::selection {
    background-color: $selection-bg-color;
    text-shadow: $selection-text-shadow;
}


// Normalization
// ----------------------------------------------------------------------------
// Correct `block` display not defined for any HTML5 element in IE 8/9.
// Correct `block` display not defined for `details` or `summary` in
// IE 10/11 and Firefox.
// Correct `block` display not defined for `main` in IE 11.
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
iframe,
svg,
video {
    // Correct `inline-block` display not defined in IE 8/9
    display: inline-block;
    // Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera
    vertical-align: baseline;
}

// Prevent modern browsers from displaying `audio` without controls.
audio:not([controls]) {
    display: none;
}

// Address margin not present in IE 8/9 and Safari.
figure {
    margin: 0 0 1rem;
}

hr {
    // Address differences between Firefox and other browsers
    box-sizing: content-box;
    height: 0;
    // Address `overflow` set to `hidden` in IE 8/9/10/11
    overflow: visible;
}

// Remove default vertical scrollbar in IE 8/9/10/11.
textarea,
pre {
    overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
    font-size: 1rem;
}

// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
[hidden],
template {
    display: none;
}

[unselectable] {
    // Android 4.4+, Chrome 40+, Firefox 36+, iOS 8+, Safari 8+
    user-select: none;
}


// Import partials
// ----------------------------------------------------------------------------
// Media object defaults
@import "base/partials/media";
// Typographic defaults
@import "base/partials/typography";
// Form defaults
@import "base/partials/forms";
// Table defaults
@import "base/partials/tables";
