// Brand Colours
// ----------------------------------------------------------------------------
$color-primary:         #202844;
$color-secondary:       #fb4f14;
$color-info:            #a0d3e8;
$color-error:           #f04124;
$color-success:         #43ac6a;


// Utility Palette
// ----------------------------------------------------------------------------
$color-white:           #fff;
$color-ghost:           #fafafa;
$color-iron:            #ccc;
$color-aluminum:        #999;
$color-steel:           #666;
$color-charcoal:        #555;
$color-black:           #222;


// Typography
// ----------------------------------------------------------------------------
$base-background-color: $color-white;
$base-font-color:       $color-black;
$action-color:          $color-primary;
