// Palette
// ----------------------------------------------------------------------------
$black: #444;
$white: #fff;
$blue: #477dca;
$dark-gray: #888;
$medium-gray: #ddd;
$light-gray: #efefef;

// Brand
// ----------------------------------------------------------------------------
$primary-color: #202844;
$secondary-color: #fb4f14;

// Typography
// ----------------------------------------------------------------------------
$base-background-color: $white;
$base-font-color: $black;
$action-color: $primary-color;
