// Headers
// ----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility;
}

// Font size and margin for header tags
@include headings;


// Paragraphs
// ----------------------------------------------------------------------------
p {
    margin: auto auto rem(20);

    + p {
        margin-top: rem(-20);
        text-indent: 1rem;
    }
}


// Smallcaps
// ----------------------------------------------------------------------------
abbr {
    color: $color-black;
    font-feature-settings: 'c2sc', 'smcp';
    font-variant: small-caps; // Safari lacks `font-feature-settings` support
    font-weight: $font-weight-normal;

    // Address styling not present in IE 8/9/10/11, Safari, and Chrome.
    &[title] {
        border-bottom: 1px dotted;
        text-decoration: none;
    }

    &[title]:hover {
        cursor: help;
    }
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
    font-weight: bold;
}

// Blockquotes
blockquote {
    + figcaption cite {
        display: block;
        font-size: $base-font-size;
        text-align: right;
    }
}

// Normalise `small` font-size for all browsers.
small {
    font-size: 65%;
}

// Address styling not present in Safari and Chrome.
dfn {
    font-style: italic;
}


// Address styling not present in IE 8/9.
mark {
    background: $color-white;
    color: $color-black;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5rem;
}

sub {
    bottom: -.25rem;
}


// Hyphenation
//
// @notes
// http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
// ----------------------------------------------------------------------------
input,
abbr,
acronym,
blockquote,
code,
kbd {
    hyphens: none;
}

// Code blocks
// ----------------------------------------------------------------------------

code {
    font-family: $font-family-monospace;
    white-space: pre;
}

pre {
    white-space: pre;

    code {
        white-space: pre-wrap;
        word-wrap: normal;
    }
}


// Links (move to typography)
// ----------------------------------------------------------------------------

// Remove the gray background color from active links in IE 10.
a {
    background-color: transparent;
}

// Improve readability of focused elements when they are also
// in an active/hover state.
a:active,
a:hover {
    outline: 0;
}
